<div class="jumbotron">
  <h1>Dashboard</h1>
  <h3><a href="/admin/products"><%= "Total Number of Products: #{@total_products}"  %></a></h3>
  <h3><%= "Total Number of catagories: #{@total_catagories}"  %></h3>
</div>

 
